body{
background-color: azure;
display: flex;
margin: 20px;
}
.javascript, .css{
    border: 1px ;;
    margin: 20px;
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

 